h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.heroes .text {
    position: relative;
    top: -3px;
}
.heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.hero-details label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
}
.hero-details input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}
.button {
    display: inline-block;
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
}
.button:hover {
    background-color: #cfd8dc;
}
.button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}
.delete {
    display: block;
    float: right;
    padding: 5px;
    background-color: gray;
    color:white;
    border-radius: 5px;
}

h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
}
h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
nav a:visited, a:link {
    color: #607D8B;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
}

.dashboard [class*='col-'] {
    float: left;
}
.dashboard *, .dashboard *:after, .dashboard *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dashboard h3 {
    text-align: center; margin-bottom: 0;
}
.dashboard [class*='col-'] {
    padding-right: 20px;
    padding-bottom: 20px;
}
.dashboard [class*='col-']:last-of-type {
    padding-right: 0;
}
.dashboard .grid {
    margin: 0;
}
.dashboard .col-1-4 {
    width: 25%;
}
.dashboard .module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
}
.dashboard h4 {
    position: relative;
}
.dashboard .module:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
}
.dashboard .grid-pad {
    padding: 10px 0;
}
.dashboard .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}
@media (max-width: 600px) {
    .dashboard .module {
        font-size: 10px;
        max-height: 75px; }
}
@media (max-width: 1024px) {
    .dashboard .grid {
        margin: 0;
    }
    .dashboard .module {
        min-width: 60px;
    }
}